body {
  background-image: url(..//img/bg-body.jpg);
}
#profile {
  /* background: #2b5876; */
  /* background: rgba(52, 78, 81, 0.8); */
  background: rgba(43, 89, 120, 0.8);
  background-image: url(../img/header-shadow.png);
  color: white;

  background-position: right;
  background-repeat: repeat-y;
  overflow: hidden;
}
.about {
  float: left;
  margin-top: 30px;
  width: 550px;
  margin-left: 20px;
}
#container {
  margin: 0 auto;
  /* width: 1000px; */
  margin-bottom: 20px;
  margin-top: 30px;
}
.about .photo-inner {
  float: left;
  background: url(../img/photo-inner.png) no-repeat;
  width: 214px;
  height: 214px;
  padding: 12px 0 0 19px;
}
.about h1 {
  font-weight: 900;
  line-height: 34px;
  margin-top: 4px;
  margin-left: -20px;
  font-size: 32px;
}
.about h3 {
  margin-top: 5px;
  font-size: 18px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
}
.about p {
  font-size: 14px;
  margin-top: 15px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Roboto Condensed", sans-serif;
}

.personal-info {
  float: left;
  margin-top: 30px;
  width: 400px;
  min-height: 230px;
  margin-left: 10px;
  background: url(./../img/personal-info-sep.png) no-repeat left top;
  padding: 20px 0 19px 20px;
}
.personal-info li {
  line-height: 20px;
  font-size: 14x;
  margin-bottom: 10px;
  overflow: hidden;
  float: left;
  width: 360px;
}
.personal-info li label {
  float: left;
  padding: 4px 7px;
  font-weight: 500;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
.personal-info li span {
  float: right;
  width: 220px;
  padding-top: 4px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}
header {
  position: relative;
  overflow: visible;
  min-height: 80px;
}

/* MENU TAB */
.menu {
  height: 100px;
  background-color: #ededed;
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
}
.tabs {
  height: 117px;
  position: absolute;
  margin-top: -14px;
  z-index: 100;
}
.tabs li > a {
  padding-top: 28px;
  width: 115px;
  display: inline-block;
  background-repeat: no-repeat;
  font-size: 15px;
  color: #b9b9b9;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 35px;
  text-decoration: none;
  margin-right: 35px;
}
.tabs li.active {
  background: url(..//img/tab-hover.png) no-repeat;
}
.tabs li.active a {
  color: #1a2980;
}
a.tab-profile.active i {
  animation: bounce 2s infinite;
}
.tmenu {
  float: left;
}
.tabs li > a > i {
  font-size: 45px;
  display: block;
  margin-bottom: 5px;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-0px);
  }
  59% {
    transform: translateY(-10px);
  }
}

.no-margin {
  margin: 0px;
}
.no-padding {
  padding: 0px;
}
.bg-color-left {
  background: #f7f7f7;
}
/* .bg-color-right{background:#9e9e9e;} */
.bg-color-right {
  background: #f7f7f7e0;
}
.bg-color-1 {
  background: #e4e4e4;
}
h1 h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif !important;
}
p,
ul,
li,
ol {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
.left-name h2 {
  text-transform: uppercase;
  font-size: 54px;
  font-weight: 700;
  color: #383838;
  font-weight: 800;
  font-family: "Oswald", sans-serif !important;
  position: relative;
}
.left-name h2 span {
  color: #1a2980;
  float: left;
  position: absolute;
  top: 25px;
  left: 188px;
}
.left-name,
.left-address {
  padding: 27px;
}
.left-name.bg-color-1 h5 {
  background: #383838;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  padding: 7px 16px;
  margin: 10px 0px 20px;
  border-radius: 50px;
}
.left-name p {
  color: #383838;
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
}
.left-address li {
  list-style: none;
  margin-bottom: 15px;
  font-weight: 600;
  color: #383838;
  font-size: 14px;
}
.text-color {
  color: #1a2980;
  font-weight: 700;
  margin-right: 5px;
}

.ex-heading h2 {
  background-image: linear-gradient(to right, #1a2980, #26d0ce);
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 6px 27px;
  font-size: 25px;
  text-transform: uppercase;
}
.ex-box h2 {
  background: #1a2980;
  color: #fff;
  font-size: 17px;
  line-height: 17px;
  display: inline-block;
  padding: 5px 21px;
  font-weight: 600 !important;
  border-radius: 50px;
  letter-spacing: 1px;
}
.ex-box {
  padding: 27px 27px 0px 27px;
}
.ex-box h4 {
  font-size: 17px;
  font-weight: 500;
  padding: 10px 0px 5px;
}
.ex-box p {
  font-size: 13px;
  font-weight: 600;
  color: #545454;
}

.top-skills {
  text-align: center;
  padding: 40px;
  /* float: left; */
}
.left-address {
  padding: 40px 0px 21px 29px;
}

.carttitle-wrapper {
  width: 1140px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 100%;
}

.our-team-main {
  margin-top: 20px;
  width: 100%;
  height: auto;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  margin-bottom: 28px;
}

.our-team-main img {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 80px;
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  border: solid 3px #e0e0e0;
}

.our-team-main h3 {
  font-size: 20px;
  font-weight: 700;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.8s ease;
  color: #9e9e9e;
  font-size: 16px;
  text-transform: uppercase;
}
.our-team-main:hover h3 {
  color: black;
}

.our-team-main:hover {
  border-color: rgb(104, 92, 92);
  transition: 0.5s;
}

.our-team-main .image_1 {
  opacity: 1;
  /* opacity:0; */
}
.our-team-main:hover .image_1 {
  transform: rotateY(-180deg);
  opacity: 0;
}
.our-team-main .image_2 {
  opacity: 0;
  position: absolute;
  left: 40px;
  transform: rotateY(180deg);
}
.our-team-main:hover .image_2 {
  transform: rotateY(0);
  opacity: 1;
  border: solid 3px #9e9e9e;
}

/* SECTION DEMO */
.how-section1 {
  margin-top: 0px;
  padding: 10%;
  background: #f7f7f7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* max-width: 100%; */
}
/* <!--recommend_1of3--> */
.demo {
  /* box-shadow: 0 0.5rem 1rem rgba(black, 0.1); */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.4s;
  backface-visibility: hidden;
  min-height: 300px;
  background: white;
  margin-bottom: 50px;
}
.demo:hover {
  transform: translateY(-0.7rem) scale(1.01);
}
/* <!--recommend_1box--> */
.card-box {
  /* height: 300px; */
  background-size: cover;
  background-blend-mode: screen;
  /* text-align: center; */
  backface-visibility: hidden;
}

.card-body {
  min-height: 200px;
}

.card-box__img {
  height: 200px;
  background-size: cover;
  background-blend-mode: screen;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card-box__img--pic1 {
  background-image: linear-gradient(
      to right,
      rgba(255, 227, 87, 0.35),
      rgba(255, 168, 82, 0.35)
    ),
    url(../img/demo1.jpg);
    background-position: center;
}
.card-box__img--pic2 {
  background-image: linear-gradient(
      to right,
      rgba(255, 227, 87, 0.35),
      rgba(255, 168, 82, 0.35)
    ),
    url(../img/demo2.jpg);
}
.card-box__img--pic3 {
  background-image: linear-gradient(
      to right,
      rgba(255, 227, 87, 0.35),
      rgba(255, 168, 82, 0.35)
    ),
    url(../img/demo3.jpg);
}
.card-box__img--pic4 {
  background-image: linear-gradient(
      to right,
      rgba(255, 227, 87, 0.35),
      rgba(255, 168, 82, 0.35)
    ),
    url(../img/demo4.jpg);
}
.card-box__img--pic5 {
  background-image: linear-gradient(
      to right,
      rgba(255, 227, 87, 0.35),
      rgba(255, 168, 82, 0.35)
    ),
    url(../img/demo5.jpg);
  background-position: top;
}
/* CONTACT */
#contatti {
  /* background-color: #70c3be; */
  background-color: white;
  color: #383838;
  letter-spacing: 2px;
  padding-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.f-icon i {
  font-size: 20px;
}
.f-icon__btn {
  display: inline-flex;
  width: 40px;
  height: 40px;
  text-decoration: none;
  background: grey;
  border-radius: 50%;
  color: white;
  justify-content: center;
  align-items: center;
  margin: 0 6px;
  transition: all 0.2s;
}
.f-icon__btn:hover {
  text-decoration: none;
}
.f-icon__btn--1:hover {
  background-color: #4267b2;
}
.f-icon__btn--2:hover {
  background-color: #0077b5;
}
.f-icon__btn:hover i {
  transition: all 0.4s;
  color: white;
}
.f-icon__btn:hover > i {
  transform: scale(1.6) rotate(10deg);
}
@media (max-width: 575.98px) {
  #contatti {
    padding-bottom: 800px;
  }
  #contatti .maps iframe {
    width: 100%;
    height: 200px;
  }
  .left-name h5 {
    font-size: 12px;
  }
  .left-name h2 {
    font-size: 30px;
  }
  .left-name h2 span {
    top: 0;
    left: 100px;
  }

  .our-team-main .image_2 {
    left: 188px;
  }
}

@media (min-width: 576px) {
  #contatti {
    padding-bottom: 100px;
  }

  #contatti .maps iframe {
    width: 100%;
    height: 450px;
  }
}

@media (min-width: 768px) {
  #contatti {
    padding-bottom: 250px;
  }

  #contatti .maps iframe {
    width: 100%;
    height: 850px;
  }
}

@media (min-width: 992px) {
  #contatti {
    padding-bottom: 100px;
  }

  #contatti .maps iframe {
    width: 100%;
    height: 440px;
  }
}



.btn--border-lightgrey {
  border: 1px solid #e1eaec;
}
.btn--border {
  border: 1px solid #43c6ac;
  color: #43c6ac;
}
.btn {
  position: relative;
  font-size:  16px;
  text-align: center;
}
.btn--border-lightgrey:before {
  background-image: linear-gradient(to right, #43c6ac, #191654); 
}
.btn:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.9s cubic-bezier(0.6,0.05,0.01,0.99);
  backface-visibility: hidden;
}
.btn:hover:before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.9s cubic-bezier(0.6, 0.05, 0.01, 0.99);
}
.btn--border-lightgrey:hover .btn-text {
  color: #fff;
}

.btn .btn-text {
  position: relative;
  z-index: 999;
  font-weight: 700;
}

.btn-text.active i {
  animation: bounce2 2s infinite;
}
@keyframes bounce2 {
  0%,
  15%,
  30%,
  45%,
  75%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  69% {
    transform: translateY(0px);
  }
}
